<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ABOUT.ME
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card color = "secondary">
      <ion-img
  src="C:\Users\user\Downloads\hatdog\kuromi1.png"
  alt="kuromi1"></ion-img>
      <ion-card-header>
        <ion-card-title>MONIQ YVETTE BELLO</ion-card-title>
        <ion-card-subtitle>CEO - CoFounder</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Hakdog Hakdog Hakdog
      </ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon name="briefcase-outline"></ion-icon>
          <ion-label>mnqbll@microsoft.com</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="call-outline"></ion-icon>
          <ion-label>63+ 9654321 6694</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="logo-google"></ion-icon>
          <ion-label>moniqbello@gmail.com</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="logo-tiktok"></ion-icon>
          <ion-label>toktokan</ion-label>
        </ion-item>
        <ion-list>
          <ion-item>
            <ion-label>Certificate</ion-label>
            <ion-badge>11</ion-badge>
          </ion-item>
        </ion-list>

      </ion-list>

      <ion-button>Read my other Info</ion-button> <ion-icon name="information-circle-outline"></ion-icon>

    </ion-card> 
  </div>
</ion-content>
